*,
::after,
::before {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* .outer-container {
  height: 70%;
  width: 70%;
  background-color: green;
  border-radius: 15px;
} */

header {
  padding: 2rem;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#search-input {
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  height: 1em;
  width: 23em;
}

.input-container {
  border-radius: 2rem;
  border: 2px solid grey;
  padding: 0.5rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input:focus {
  border: none;
  outline: none;
}

.search-btn {
  height: 100%;
  border: none;
  background-color: antiquewhite;
  padding: 0.7rem;
  border-radius: 100%;
  cursor: pointer;
}

.moviecard {
  display: flex;
  flex-direction: column;
  /* height: 200px;
  width: 100px; */
  background-color: pink;
  padding: 0.5rem;
  font-size: 2rem;
}

.moviecard > img {
  height: 80%;
}

.moviecard > p {
  height: 20%;
}

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#menu {
  visibility: hidden;
}

@media screen and (max-width: 385px) {
  #search-input {
    font-size: 0.8rem;
  }
  #menu {
    visibility: visible;
  }
  .navLinks {
    width: 100%;
    height: 0;
    visibility: hidden;
  }
  .nav-list {
    flex-direction: column;
    width: 100%;
  }
  .nav-links {
    align-self: flex-end;
    width: 7em;
    margin: 1em;
    border-bottom: 2px solid grey;
  }
}

@media screen and (max-width: 775px) and (min-width: 385px) {
  #search-input {
    font-size: 1rem;
  }
  #menu {
    visibility: visible;
  }
  .navLinks {
    width: 100%;
    height: 0;
    visibility: hidden;
  }

  .hidden {
    width: 100%;
    visibility: hidden;
    height: 0;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
  }
  .nav-links {
    align-self: flex-end;
    width: 7em;
    margin: 1em;
    border-bottom: 2px solid grey;
  }
}
.visible {
  width: 100%;
  visibility: visible;
  height: 100%;
}
.nav-list {
  overflow: hidden;
  list-style: none;
  display: flex;
  padding: 1rem;
  column-gap: 8rem;
}

.nav-links {
  font-size: 1.2rem;
  color: white;
}

.nav_toggler {
  visibility: visible;
}

main {
  background-color: #ae2d11;
}
